$boxwithd: 250px;
$boxheight: 250px;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  .rect1 {
  }
  .rect2 {
  }
  background: linear-gradient(
    90deg,
    rgba(71, 108, 192, 1) 0%,
    rgba(98, 140, 240, 1) 100%
  );

  .rect1 {
    width: boxwithd;
    height: boxheight;
    left: 20%;
    top: 60vh;
  }

  .rect2 {
    width: boxwithd;
    height: boxheight;
    right: 20%;
    top: 20vh;
  }

  img {
    position: absolute;
    right: 0;
  }

  .biocont {
    position: absolute;
    top: 45vh;
    display: flex;
    line-height: 2;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;

    h1 {
      opacity: 0;
      text-align: center;
    }
    p {
      opacity: 0;
      width: 65vw;
      text-align: center;
    }
  }

  .containermenu {
    display: flex;
    width: 100%;

    nav {
      position: absolute;
      top: 50px;
      right: 0;
      transform: translateX(-40px);
      z-index: 2;
      ul {
        display: flex;
        color: white;
        list-style-type: none;
        li {
          font-size: 14px;
          margin-right: 60px;
          cursor: pointer;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .submenu {
        position: absolute;
        z-index: 60;
        display: none;
        width: 210px;
        height: 114px;
        top: 40px;
        right: 103px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        z-index: 4;
        p {
          width: 72px;
          a {
            position: relative;
            z-index: 4;
            margin: 13px 0 0 14px;
            width: 80px;
            z-index: 2;
            color: white;
            text-decoration: none;
          }
        }

        &::before {
          position: absolute !important;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(10px) saturate(100%) contrast(45%)
            brightness(130%);
          content: "";
          opacity: 0.3;
          height: 100%;
          width: 100%;
          border-radius: 10px;
          position: relative;
          widows: 100%;
          height: 100%;
        }
      }
    }

    .containerbox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 25%;
      object-fit: cover;

      p {
        width: 110px;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        z-index: 4;
        transition: all 0.2s ease-in-out;
        a {
          text-decoration: none;
          font-size: 17px;
          color: white;
        }
        &:hover {
          transform: translateY(-4px);
        }
        &:hover {
          ~ img {
            opacity: 1 !important;
          }
          ~ .fade {
            opacity: 0.3;
          }
        }
      }

      .fade {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: gray;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      img {
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      .web {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
      }

      .mobile {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
      }

      .devops {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
      }

      .product {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
      }
    }
  }
}

@media (max-width: 1198px) {
  .container {
    min-height: 460px !important;
    height: 856px !important;
    .containermenu {
      flex-direction: column;
      // height: 800px !important;
      // transform: translateY(100px);
    }
    .containerbox {
      width: 100% !important;
      // min-height: 208px;
      height: 200px;
    }
  }
}

@media (max-width: 554px) {
  .containermenu {
    flex-direction: column;
    .containerbox {
      width: 100% !important;
    }
  }
}
