* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:global {
  .page {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
}

:global {
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}

.aboutwrraper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .aboutcontainer {
    flex: 1;
    display: flex;
    margin: 0 auto;
    // transform: translateY(25vh) !important;
    margin-top: 20%;
    line-height: 40px;
    width: 69%;
    justify-content: center;
    // min-height: 100vh;
    p {
      width: 88%;
      width: 88%;
      font-size: 15px;
      min-height: 6 0px;
      line-height: 2;
      // min-height: 600px;
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 726px) {
  .aboutwrraper {
    .aboutcontainer {
      margin-top: 100px;
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 894px) {
  .aboutwrraper {
    .aboutcontainer {
      margin-top: 150px;

    }
  }
}


@media (max-width: 640px) {
  .aboutwrraper {
    flex-direction: column;
    .aboutcontainer {
      margin-top: 200px;

      p {
        text-align: center;
      }
    }
  }
}

@media (mmin-hight: 489px) {
  .aboutwrraper {
    .aboutcontainer {
      // transform: translateY(5vh) !important;
    }
  }
}
